 body{
     width: 960px;
     margin: auto;
     background-color:rgb(207, 204, 204); 
 }
 .head{
     margin-bottom: 20px;
 }
 .comment{
     border-color: beige;
     border-width: 10px;
 }
 .comment p{
     background-color: antiquewhite;
 }
 .btn-form{
     background-color:rgb(54, 54, 231); 
     width: 80px;
 }